In [1]:
import pandas as pd
import numpy as np
from IPython.display import display, clear_output
import seaborn as sns
import dtale
import matplotlib.pyplot as plt
import math
import multiprocessing as mp

In [2]:
#city_dict = pd.read_json("city_dict.json",typ='series')
#city_codes = pd.DataFrame({'code':city_dict.index, 'city':city_dict.values})
#discount_features = pd.read_csv("discount_features.csv", sep=',', header=0)
#foot_fall = pd.read_csv("foot_fall.csv", sep=',', header=0)
#sample_submission = pd.read_csv("sample_submission.csv", sep=',', header=0)
test_data = pd.read_csv("test_data.csv", sep=',', header=0)
train_data = pd.read_csv("train_data.csv", sep=',', header=0)

for col in ['city', 'medicine']:
    train_data[col] = train_data[col].astype('category')
    test_data[col] = test_data[col].astype('category')

for col in ['city', 'medicine']:
    discount_features[col] = discount_features[col].astype('category')

discount_features['date'] = discount_features['date'].astype('datetime64')

for col in ['code', 'city']:
    city_codes[col] = city_codes[col].astype('category')

foot_fall['city'] = foot_fall['city'].astype('category')

train_data["date"] = pd.to_datetime(train_data[["year", "month", "day"]])
test_data["date"] = pd.to_datetime(test_data[["year", "month", "day"]])
test_data.drop(["year", "month", "day"],axis=1,inplace=True)
train_data.drop(["year", "month", "day"],axis=1,inplace=True)

dfs = {
    "train_data" : train_data,
    "test_data" : test_data,
    #"city_codes" : city_codes,
    #"discount_features" : discount_features,
    #"foot_fall" : foot_fall
    }

line = "▒"*20


# for name,df in dfs.items():
#     print('{0} {1}.max() {2}'.format(line,name,line))
#     display(df.max())
#     print('{0} {1}.min() {2}'.format(line,name,line))
#     display(df.min())

In [3]:
train_jul = train_data[train_data['month'] == 7]

In [6]:
def predictor(city,medicine,day):
    b = train_jul[(train_jul['city']==city)&(train_jul['medicine']==medicine)&(train_jul['day'] == day)].iloc[:,5].mean()
    return (0 if math.isnan(b) else round(b))

In [12]:
%%time
pred_list = []
for index, row in test_data.iterrows():
    pred_list.append({"id":row['id'],"sales":predictor(row['city'],row['medicine'],row['day'])})
    clear_output(wait=True)
    print(row['id'])

773535
Wall time: 4h 34min 24s

In [13]:
predictions = pd.DataFrame(pred_list)

In [14]:
test_data.shape

(773535, 6)

In [15]:
predictions.shape

(773535, 2)

In [16]:
predictions.head(1000)

       id  sales
0       1     29
1       2     13
2       3    117
3       4     80
4       5     24
..    ...    ...
995   996     41
996   997     27
997   998     15
998   999     32
999  1000     12

[1000 rows x 2 columns]

In [17]:
predictions.to_csv('sales_predictions_a_1.csv', index=False)